@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'GmarketSansMedium';
}
.bg-gray-50{
	margin-top:30px;
	margin-left:5%;
	width:90%;
	
}

.checked {
  color: rgb(247, 223, 9); /* 별점 색상 */
}

#reviewModal .fa{
  cursor: pointer;
}

/* 마우스를 호버하면 노란색으로 채우기 */
#reviewModal .fa:hover {
  color: #ffcc00;
}



#reviewModal{
	margin-left:3%;
/*	display:none;*/
	width:800px;
	height:1000px;
}

.bt-blue-500{
	margin-left:200px;
}

#imagePreview{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-gray-50 h1{
	margin-left:80px;
	margin-bottom:0px;
}


.modal-content {
	width:700px;
	height:900px;
}

.close {
    font-size: 40px; /* 원하는 크기로 조절하세요 */
    cursor: pointer;
    float: right; /* 오른쪽으로 띄우기 */
    margin-right: 80px;
    margin-bottom: 50px;
}

.close:hover {
    color: red; /* 원하는 색상으로 변경 */
}


 #addPhoto{
	width:100%;
	height:50px;
	border:1px solid #F9612B;
	border-radius: 10px;
	text-align: center;
	line-height: 45px;
	color:#F9612B;
	font-weight: bold;
}

#addPhoto:hover{
	opacity: 0.6;
}

#addPhoto>img{
	width:40px;
	height:40px;
	display: inline-block;
}
