<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 디버깅 시 'edge(엣지)' 사용, 전체 화면 권장 -->
<meta name="viewport"
   content="user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>상단바</title>
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.ico">
<!-- 웹 페이지 파비콘 16x16-->
<link rel="stylesheet" type="text/css" href="css/common/navbar.css" />
</head>

<body id="nav-body">
   <!-- left Logo -->
   <!-- text-align:(위치) -->
   <div id="logo_area">
      <p style="text-align: left;" class="logo">
      	<a href="/" width="165px">
         	<img src="image/yoonahrim/zangzack_logo.png" width="165px" />
         </a>
      </p>
      <!-- height="111~120px" -->
      <div id="my_menu" >
         <ul th:if="${session.loginUser == null}">
         	<li><a href="centerView.so">고객센터</a></li>
         	<li><span>/</span></li>
            <li><a href="signIn.me">아이디찾기</a></li>
            <li><span>/</span></li>
            <li><a href="signUp.me">로그인</a></li>
         </ul>
         <ul th:if="${session.loginUser != null}" style="display:flex; justify-content: center; align-items: center;">
         	<li><a href="cartView.so"><img style="width:25px; height:25px; display:inline-block;" src="image/sohwa/icons8-cart-64.png"></a></li>
         	<li><a href="centerView.so">고객센터</a></li>
            <li><a href="logout.me">로그아웃</a></li>
            <li><span>/</span></li>
            <th:block th:if="${session.loginUser.memberIsAdmin == 'N'}"><li><a href="myPage.me">마이페이지</a></li></th:block>
            <th:block th:unless="${session.loginUser.memberIsAdmin == 'N'}"><li><a href="adminPage.me">관리자페이지</a></li></th:block>
         </ul>
      </div>
   </div>
   <!-- header Menu -->
   <header id="header" style="width:100%;">
      <div class="menu-wrap" style="width:100%;">
         <ul style="width:100%;">
            <li class="main-menu"><a href="#"class="main-menu-name">캠핑장</a>
               <ul>
                  <li class="sub-menu-1">
                     <a href="campSearch.ys" class="sub-menu-name">캠핑장 검색<span class="gt"></span> 
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a  href="campList.ys" class="sub-menu-name">추천 캠핑장<span class="gt"></span> 
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu"><a href="#" class="main-menu-name">커뮤니티</a>
               <ul>
                  <li class="sub-menu-1">
                     <a href="chatListView.jy" class="sub-menu-name">채팅방<span class="gt"></span> 
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="champingReviewListView.jy" class="sub-menu-name">캠핑후기게시판<span class="gt"></span> 
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="champingFriend.jy" class="sub-menu-name">캠핑친구모집<span class="gt"></span> 
                        
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu"><a  href="productListView.so" class="main-menu-name">캠핑물품판매</a>
               <ul>
                  <li class="sub-menu-1">
                     <a href="productListView.so?categoryNo=11&keyword=&standard=1" class="sub-menu-name">텐트<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="productListView.so?categoryNo=12&keyword=&standard=1" class="sub-menu-name">취침용품<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="productListView.so?categoryNo=13&keyword=&standard=1" class="sub-menu-name">조리도구<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a  href="productListView.so?categoryNo=14&keyword=&standard=1" class="sub-menu-name">발화용품<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="productListView.so?categoryNo=15&keyword=&standard=1" class="sub-menu-name">배낭<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a  href="productListView.so?categoryNo=16&keyword=&standard=1" class="sub-menu-name">기타<span class="gt"></span> 
                        
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu"><a  href="#" class="main-menu-name">마니또</a>
               <ul>
                  <li class="sub-menu-1">
                     <a href="psychologicalTestMain.me" class="sub-menu-name">심리테스트<span class="gt"></span> 
                        
                     </a>   
                  </li>
                  <li class="sub-menu-1">

                     <a th:href="@{/selectCategory.ah}" class="sub-menu-name">체크리스트<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="eventBoardListView.jy" class="sub-menu-name">행사정보<span class="gt"></span> 
                        
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu"><a href="#" class="main-menu-name">게시판</a>
               <ul>
                  <li class="sub-menu-1">
                     <a href="campBoard.su" class="sub-menu-name">캠핑게시판<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="recipe.su" class="sub-menu-name">레시피<span class="gt"></span> 
                        
                     </a>
                  </li>
                  <li class="sub-menu-1">
                     <a href="secondHand.ah" class="sub-menu-name">중고물품<span class="gt"></span> 
                        
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </header>
</body>
</html>