@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
   font-family: 'GmarketSansMedium';
}

#orderListWrapped{
   margin-left:20%;
   margin-right: 10%;
}

.cateBtn{
   margin-top:20px;
   background-color: white;
   font-size:20px;
   border:none;
}

table{
   margin-top:10px;
   width:100%;
   border-bottom: 2px solid rgb(56, 56, 56);
   border-top: 2px solid rgb(56, 56, 56);
   margin-bottom:50px;
   padding-left: 50px;
}
th{
   border-bottom:2px solid rgb(56, 56, 56);
   padding: 8px;
   text-align: center !important;
}

.td1{
   width:3%;
}

.td2{
   width:12%;
}

.td3{
   width:10%;
}

.td4{
   width:8%;
}

.td5{
   width:20%;
}
.td6{
   width:12%;
}
.td7{
   width:5%;
}
.td7 div{
   text-align: center;
}
.td8{
   width:5%;
   text-align: center;
}


tr{
   height:40px;
}

.td1 input[type="checkbox"]{
   width:20px;
   height:20px;
}


td {
    border-bottom: 1px solid #ddd; /* 구분선 스타일 */
    padding: 8px;
    text-align: center;
  }
  
.pagination .page-link {
    color: #F9612B;
}


.search {
   margin-left:10px;
   margin-bottom:5px;
   float: right;
   display: inline-flex; /* Flexbox를 이용하여 인라인 요소로 표시하여 수평 정렬 */
    align-items: center;
    position: relative;
    width: 300px;
}

.search input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.dropdown{
   display: inline-block;
}

.hidden{
   display: none;
}

.cateBtn.active {
    border-bottom: 4px solid #F9612B; /* 선택한 버튼의 아래쪽 테두리 색상 */
  }
.foreground{
        background: url(https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png) no-repeat;
        width: 121px;
        height: 20px;
        position: relative;
      }
 .foreground span{
    position: absolute;
    background: url(https://aldo814.github.io/jobcloud/html/images/user/star02.png);
    filter: invert(90%) sepia(10%) saturate(7000%) hue-rotate(570deg) brightness(115%) contrast(120%);
    height: 20px;

 }
 
 .buttonStyle{
    background: #F9612B;
 }
 .board_bottom_area {
   display: inline-block;
   position: relative;
   width: 80%;
   margin: 2%;
   margin-left: 8%;
   align-items: center;
}

.board_bottom_area hr {
   margin-top: 30px;
   background-color: #eeeee6;
   border: none;
   height: 1px;
}

#pagenation {
   text-align: center;
}

#pagenation ul {
   list-style: none;
   padding: 0;
   display: inline-block;
   margin: 0;
}

#pagenation ul li {
   display: inline;
   margin: 0 5px;
}

#pagenation ul li a {
   text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 14px;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

#pagenation ul li a:hover {
   background-color: #5cb85c;
   color: #e6e6e6;
}

#pagenation ul li a#check_page {
   background-color: #5cb85c;
   color: #e6e6e6;
}

.search_area {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
}

.search_select {
   padding: 5px 10px;
   margin-right: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.search_input {
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 300px;
   margin-right: 10px;
}

.search_button {
   padding: 5px 15px;
   border: none;
   background-color: #5cb85c;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.search_button:hover {
   background-color: #5cb85c;
}
 
/* 카테고리 */
#point_zone {
   width: 96.8%;
   padding-left: 0;
   margin-left: 1.5%;
   border-bottom: 1px solid black;
   font-size: 0;
}

#category {
    display: inline-block;
    vertical-align: top; /* 수직 정렬 */
    width: calc(94.3% - 20px); /* 전체 너비의 절반에서 여백을 뺀 값 */
    margin: 1% 0;
    font-size: initial; /* 폰트 크기 초기화 */
}

#category form {
   display: inline-block;
   width: 100%;
}

#category a {
   text-decoration: none;
   text-align: center;
   color: black;
   font-weight: 800;
   padding: 0.5% 1%;
}

#category #select-category {
   border-radius: 8px;
   padding : 5px 10px;
   color: white;
   background-color: #5cb85c;
}

.board_zone_cont {
   display: block;
   list-style: none;
   padding-left: 16px;
   width: 92%;
   font-size: 13px;
   font-weight: 500;
   margin-bottom: 30px;
}

#boardType-area {
    display: inline-block;
    padding: 0.6vw 0;
    align-items:center;
    vertical-align: top; /* 수직 정렬 */
    width: 82px;
}

#boardType-area a {
   text-decoration: none;
   text-align: center;
   color: black;
   padding: 0.5% 1%;
   margin: 0.5% 1%;
}


#write_btn {
   display: inline-block;
   min-width: 50px;
   height: 30px;
   box-sizing: border-box;
   border: 1px solid #5cb85c;
   text-align: center;
   position: relative;
   background-color: #5cb85c;
   color: #fff;
   right: -93.6%;
}

#write_btn:hover {
   cursor: pointer;
}

.write_btn a {
   color: black;
   text-decoration: none;
}

/* 페이징 css */
.board_bottom_area {
   display: inline-block;
   position: relative;
   width: 80%;
   margin: 2%;
   margin-left: 8%;
   align-items: center;
}

.board_bottom_area hr {
   margin-top: 30px;
   background-color: #eeeee6;
   border: none;
   height: 1px;
}

#pagenation {
   text-align: center;
}

#pagenation ul {
   list-style: none;
   padding: 0;
   display: inline-block;
   margin: 0;
}

#pagenation ul li {
   display: inline;
   margin: 0 5px;
}

#pagenation ul li a {
   text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 14px;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

#pagenation ul li a:hover {
   background-color: #5cb85c;
   color: #e6e6e6;
}

#pagenation ul li a#check_page {
   background-color: #5cb85c;
   color: #e6e6e6;
}

.search_area {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
}

.search_select {
   padding: 5px 10px;
   margin-right: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.search_input {
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 300px;
   margin-right: 10px;
}

.search_button {
   padding: 5px 15px;
   border: none;
   background-color: #5cb85c;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.search_button:hover {
   background-color: #5cb85c;
}