@charset "UTF-8";

.photoNum{
	width: 200px; 
	height: 200px; 
	border-radius: 20%; 
	border: 1px solid black;
	margin: 10px;
	position: relative;
	left: 520px;
	top: 60px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

#plus{
	position:absolute; 
	left: 765px;
	top: 400px;
	background-color: #5cb85c;
	border:0px;
}

.upfileAddArea {
	position: absolute;
    left: 300px;
	top: 260px;
	display: flex;
    flex-wrap: wrap;
}

#inputGroupFile01{
	display:none;
	cursor: pointer;
}

.edit{
	position: absolute;
	left: 600px;
	top: 650px;
}
.pointerBtn{
	position: absolute;
	left: 900px;
	top: 1650px;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff; 
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
	position: absolute;
	bottom: 190px;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; 
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.color-1{
   	background-color: #5cb85c;
   	box-shadow: 0 4px 15px 0 rgb(128, 128, 128) !important;
}

