@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}

#nav-body {
	font-family: 'GmarketSansMedium';
	margin: 0 auto;
}

#header {
	height: 50px;
	background-color: black;
	font-family: 'GmarketSansMedium';
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

#header ul {
	font-family: 'GmarketSansMedium';
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 700;
	vertical-align: baseline;
}

#header li {
	font-family: 'GmarketSansMedium';
	margin: 0 auto;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	list-style: none;
	height: 65px;
	line-height: 50px;
	position: relative;
	z-index: 1;
}

#header li.main-menu a.main-menu-name {
	overflow: hidden; /* 내용이 넘칠 경우 숨김 */
	white-space: nowrap; /* 텍스트를 한 줄로 유지 */
	text-overflow: ellipsis;
	padding-left: 20px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	display: block;
	padding: 0px 50px;
	text-align: center;
}

.menu-wrap>ul>li {
	display: inline-block;
}

.main-menu li.sub-menu-1 {
	background-color: black;
	align-items: center;
	text-align: center;
}

.main-menu li a {
	color: black;
	display: inline-block;
	padding: 0;
	position: relative;
	text-align: center;
	white-space: nowrap;
	text-decoration-line: none;
}

.pointImg {
	width: 140px;
	height: 80px;
	display: none;
	position: absolute;
	margin-right: 55%;
	margin-left: -70%;
	top: 55%;
	right: -20px;
	transform: translateY(-50%);
}

.main-menu li.sub-menu-1>a.sub-menu-name:hover {
	padding-left: 0;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	.pointImg{
		display:inline-block;
	}

}
.menu-wrap li.main-menu>ul {
	display: none;
	position: absolute;
	top: 50px;
	z-index: 2;
	width: 100px;
}

.menu-wrap li.main-menu:hover>ul {
	display: block;
	width: 100%;
}

.menu-wrap li.main-menu ul li>a {
	padding: 0px 0px;
}

.logo {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.logo a img {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	margin-left: 47.2%;
}

.menu-wrap>ul {
	display: flex;
	padding-left: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

.menu-wrap>ul>li {
	width: 20%;
	text-align: center;
	align-items: center;
}

.main-menu a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 15px 0;
}

#my_menu {
	position: absolute;
	font-size: 12px;
	top: 10px;
	right: 10px;
	height: 100px;
	width: auto;
}

#my_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#my_menu li {
	display: inline;
	margin: 0 5px;
}

#my_menu li a {
	padding: 5px 7px;
	color: black;
	text-decoration: none;
}