@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#nav-body{
    font-family: 'GmarketSansMedium';
    margin: 0 auto;
}
/* 헤더 - 높이, 색상 */
#header {
    height: 50px;
    background: #F3F4F6;
    padding: 0px 2.5%;
    font-family: 'GmarketSansMedium';
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#header ul{
    font-family: 'GmarketSansMedium';
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:700;
    vertical-align: baseline;
}

#header li {
    font-family: 'GmarketSansMedium';
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    height: 65px;
    line-height: 50px;
    position: relative;
    z-index: 1; /* 변경된 부분 */
}

/* 정렬 - 하위메뉴 들여쓰기 */
#header li.main-menu a.main-menu-name{
    padding-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: block;
    padding: 0px 158px;
    text-align: center; /* 변경된 부분 */
}

/* 색상 */
.menu-wrap>ul>li {
    display: inline-block;
}



.main-menu li {
    background-color: rgba(243,244,246,0.5);
    align-items: center;
    text-align: center;
}

.main-menu li a {
    color: black;
    display: inline-block;
    padding: 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    text-decoration-line:none;
}

.pointImg2  {
    width: 140px; /* 원하는 너비로 조절 */
    height: 80px; /* 원하는 높이로 조절 */
    display: none;
    position: absolute;
    margin-right: 105%;
    margin-left: -100%;
    top: 55%;
    right: -20px;
    transform: translateY(-50%);
}

.main-menu li.sub-menu-1>a.sub-menu-name:hover {
    padding-left: 0;
    text-decoration : underline;
    text-decoration-thickness : 2px;
    text-underline-offset: 5px;
    
    .pointImg2{
       width: 140px; /* 원하는 너비로 조절 */
       height: 80px; /* 원하는 높이로 조절 */
        display: inline-block;
    }
    
}

/* 1단 */
.menu-wrap li.main-menu>ul {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 2; 
    width: 100px; 
}

.menu-wrap li.main-menu:hover>ul {
    display: block;
    width: 100%;
}


.menu-wrap li.main-menu ul li>a {
    padding: 0px 0px;
}

/* 이미지를 중앙에 배치하는 CSS */
.logo {
   background:#fff;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* 원하는 높이로 조정 */
}

.logo img {
    display: inline-block;
    position : absolute;
    margin: 0 auto;
}
 
#my_menu {
    position: absolute;
    font-size : 12px;
    top: 0.3%; /* 원하는 수치로 조정 */
    right: 1%; /* 원하는 수치로 조정 */
    height: 300px; /* 높이 설정 */
    width: auto; /* 너비 설정 */
}
  
#my_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto; /* 또는 필요한 너비로 설정 */
    white-space: nowrap; 
  }
  
  #my_menu li {
    display: inline-block;
    margin: 1px;
  }
  
  #my_menu li a {
    padding: 5px 7px;
    line-height: 30px;
    color: black;
    text-decoration-line : none;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
  }