/* 작성된 글 없을 경우*/
.board-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	margin-bottom: 20px;
}
.board-none-text {
    padding: 0 32%;
}

.board-none-container h1 ::before{
    font-size: 21px;
    margin: 0; /* h1의 기본 마진을 제거 */
}

.border-bottom-div {
	margin-left: 1%;
	width: 97%; /* 전체 너비를 사용 */
	border-top: 1px solid #e6e6e6; /* 하단 테두리 설정 */
	padding-bottom: 20px; /* 하단 테두리 아래에 여백을 줌 */
}
/* 게시판 목록 테이블 */
table {
	width: 96.8%;
	padding-left: 16px;
	margin-left: 1.5%;
	text-align: center;
	border-collapse: collapse;
	position: relative;
	margin-bottom: 30px;
}

th, td {
	width: 6%;
	padding: 8px;
	text-align: center;
}

th {
	border: 0.5px solid lightgray;
	border-top: 1px solid black;
	background-color: #e4e0e0;
	font-weight: 100px;
}

td {
	padding: 13px 10px 15px 10px;
	border-bottom: solid 1px #dbdbdb;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	position: relative;
}

.board_category{
	width: 9%;
}

.board_writer {
	width: 12%;
}

.board_title {
	width: 40%;
	text-align: left;
}

.attachment_icon {
	position: absolute;
	width: 20px;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

#board_list_table tbody tr {
    cursor: pointer;
}

#write_btn  {
	display: inline-block;
	min-width: 50px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #5cb85c;
	text-align: center;
	position: relative;
	background-color: #5cb85c;
	color: #fff;
	right: -93.6%;}

#write_btn:hover {
	cursor: pointer;
}